h1 {
    margin: 1em 0;
    border-bottom: 1px solid var(--border);
}
.article a {
    color: var(--footerlink);
}
summary {
    margin-bottom: 1em;
}
footer {
    margin-top: 3em;
    padding: .5em;
    font-size: .8em;
}
footer a {
    color:var(--footerlink);
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--navbg);
    border-bottom: 1px solid var(--navborder);
    padding-bottom: 1em;
}
section {
    max-width: 800px;
    margin: 7em auto;   
}